.tracks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ratings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #425a65;
}

h1 {
  font-size: 6rem;
}

.button__wrapper {
  display: flex;
  gap: 1rem;
}

.button__wrapper > button {
  border: none;
  background-color: rgb(45, 200, 211);
  font-weight: bold;
  font-size: 2rem;
  color: inherit;
  border-radius: 50%;
  outline: none;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

.button__wrapper > button:hover {
  background-color: rgb(35, 72, 141);
}

.button__wrapper > button:focus {
  box-shadow: 0 0 0 3px rgb(70, 21, 97);
}

.negative {
  color: #ff1744;
}

.positive {
  color: #2abf77;
}
