* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.7;
  font-size: 16px;
  background-color: rgb(30, 30, 36);
  color: white;
}

.container {
  max-width: 1000px;
  margin: auto;
  background-color: rgb(160, 60, 60);
}
